.tools
{
padding-left: 100px;
margin-top: 20px;
position: relative;
} 


.tool
{
    height: 30px;
    border: none;
    border-radius: 20px;
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(159, 215, 159);
    font-size: 14px;
    margin-left: 10px;
    padding: 0px 20px;
    cursor: pointer;
    
    
}

@media(max-width:728px)
{
    .tool
    {
        margin: 5px 0px;
    }
   
}